<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style_sobre.css">
    <title>Projeto Integrador II</title>
</head>

<!--MENU-->    

<header> 
  <nav class="menu">
      <a href="logo" href="/">Portal SBO tahON</a>
      <div class="mobile-menu2">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
      </div>
      <ul class="nav-list">
          <li><a href="/">Home</a></li>
          <li><a href="#">Serviços</a></li>
          <li><a href="/sobre">Sobre nós</a></li>
          <li><a href="#">Recomendar</a></li>
          <li><a href="/fornecedores">Consultar</a></li>
          <li><a href="#">Contatos</a></li>
      </ul> 
  </nav>
</header>

<table  width="467" border="2px">
  <tr>
    <table width="100%" border="2px">
      <tr>
     
        <td width="25%" height="40%">Nome</td>
        <td width="25%">Produto</td>
        <td width="25%">E-mail</td>
        <td width="25%">Endereço</td>
      </tr>
   
    {% for fornecedores in dataDetails %}
    <tr>
      <td> {{fornecedores[0]}} </td>
      <td> {{fornecedores[1]}} </td>
      <td> {{fornecedores[2]}} </td>
      <td> {{fornecedores[3]}} </td>
    </tr>
    {% endfor %}
  </table>